@import "tailwindcss";

:root {
  --accent: #aa3bff;
  --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
    --text-h: #f3f4f6;
  }
}

body {
  margin: 0;
  background-color: var(--bg);
  min-height: 100vh;
}